<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Series Favoritas</title>
    <link rel="stylesheet" href="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\series.css">
</head>


<body>
    <nav class="menu">
        <h2 class="logo">Mi Mundo</h2>
        <ul>
            <li><a href="persona.html">Sobre mí</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="youtubers.html">Youtubers</a></li>
            <li><a href="series.html">Animes / Series</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    </nav>


    <img src="../desing/imagenes/592bec49942ec4c610dfb9566d5c5f12.gif" alt="Animación divertida" class="gif-principal mb-6">
    <header>

        <h1 style="color: #FF0081;">Mis series favoritas</h1>
    </header>

    <div class="series">
        {{#each this}}
        <div class="serie">
            <h2>{{Titulo}}</h2>
            <img src="data:image/jpeg;base64,{{imagenbase64}}" alt="{{Titulo}}">

            <p>{{Descripcion}}</p>
            <iframe width="928"
                    height="522"
                    src="{{trailerurl}}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
        </div>
        {{/each}}
    